Repository bprof-projm/wman, pull requests merged in 2021-11, with the labels that each got.

#43 14 Create labels and use them to events
  wman-backend/Wman.Logic/Classes/LabelLogic.cs
  wman-backend/Wman.Logic/DTO_Models/CreateLabelDTO.cs
  wman-backend/Wman.Logic/DTO_Models/ListLabelsDTO.cs
  wman-backend/Wman.Logic/Helpers/AutoMapperProfiles.cs
  wman-backend/Wman.Logic/Interfaces/ILabelLogic.cs
  wman-backend/Wman.Repository/Classes/LabelRepo.cs
  wman-backend/Wman.Repository/Interfaces/ILabelRepo.cs
  wman-backend/Wman.WebAPI/Controllers/LabelController.cs
  wman-backend/Wman.WebAPI/Startup.cs
Labels: enhancement, EPIC 1 - manager UI, Backend

#44 Testing/7 assign worker to event
  wman-backend/Wman.Test/Builders/LogicBuilders/AuthLogicBuilder.cs
  wman-backend/Wman.Test/Builders/LogicBuilders/CalendarEventLogicBuilder.cs
  wman-backend/Wman.Test/Builders/LogicBuilders/EventLogicBuilder.cs
  wman-backend/Wman.Test/Builders/MapperBuilder.cs
  wman-backend/Wman.Test/Builders/UserManagerBuilder.cs
  wman-backend/Wman.Test/Tests/AuthLogicTests.cs
  wman-backend/Wman.Test/Tests/CalendarEventLogicTests.cs
  wman-backend/Wman.Test/Tests/EventLogicTests.cs
Labels: EPIC 1 - manager UI, Backend

#47 Feature/15 display workers workload in sidemenu
  wman-frontend/package-lock.json
  wman-frontend/package.json
  wman-frontend/src/App.js
  wman-frontend/src/components/DemoPage/temp.component.jsx
  wman-frontend/src/components/DemoPage/temp.styles.css
  wman-frontend/src/components/Login/login.component.jsx
  wman-frontend/src/components/Login/login.styles.css
  wman-frontend/src/components/Logout/logout.component.jsx
  wman-frontend/src/components/SearchBox/search-box.component.jsx
  wman-frontend/src/components/SearchBox/search-box.styles.css
  wman-frontend/src/components/Worker-load/Progress-card/progress-card.component.jsx
  wman-frontend/src/components/Worker-load/Progress-card/progress-card.styles.css
  wman-frontend/src/components/Worker-load/Progress-list/progress-list.component.jsx
  wman-frontend/src/components/Worker-load/Progress-list/progress-list.styles.css
  wman-frontend/src/components/Worker-load/Progress-menu/progress-menu.component.jsx
  wman-frontend/src/components/Worker-load/Progress-menu/progress-menu.styles.css
  wman-frontend/src/index.js
Labels: enhancement, EPIC 1 - manager UI, Frontend

#48 Testing/11 drag n drop event
  wman-backend/Wman.Test/Builders/LogicBuilders/CalendarEventLogicBuilder.cs
  wman-backend/Wman.Test/Builders/LogicBuilders/EventLogicBuilder.cs
  wman-backend/Wman.Test/Tests/EventLogicTests.cs
Labels: EPIC 1 - manager UI, Backend

#53 Feature/41 provide feedback with status codes
  wman-backend/Wman.Data/DB_Models/WmanRole.cs
  wman-backend/Wman.Data/DB_Models/WmanUser.cs
  wman-backend/Wman.Data/DB_Models/WmanUserRole.cs
  wman-backend/Wman.Data/wmanDb.cs
  wman-backend/Wman.Logic/Classes/AllInWorkEventLogic.cs
  wman-backend/Wman.Logic/Classes/AuthLogic.cs
  wman-backend/Wman.Logic/Classes/CalendarEventLogic.cs
  wman-backend/Wman.Logic/Classes/Converter.cs
  wman-backend/Wman.Logic/Classes/EventLogic.cs
  wman-backend/Wman.Logic/Classes/LabelLogic.cs
  wman-backend/Wman.Logic/Classes/PhotoLogic.cs
  wman-backend/Wman.Logic/Classes/UserLogic.cs
  wman-backend/Wman.Logic/DTO_Models/userDTO.cs
  wman-backend/Wman.Logic/Helpers/AutoMapperProfiles.cs
  wman-backend/Wman.Logic/Helpers/DBSeed.cs
  wman-backend/Wman.Logic/Helpers/WmanError.cs
  wman-backend/Wman.Logic/Helpers/WmanExceptions.cs
  wman-backend/Wman.Logic/Interfaces/IAuthLogic.cs
  wman-backend/Wman.Logic/Interfaces/ICalendarEventLogic.cs
  wman-backend/Wman.Logic/Interfaces/ILabelLogic.cs
  wman-backend/Wman.WebAPI/Controllers/AuthController.cs
  wman-backend/Wman.WebAPI/Controllers/CalendarEventController.cs
  wman-backend/Wman.WebAPI/Controllers/EventController.cs
  wman-backend/Wman.WebAPI/Controllers/LabelController.cs
  wman-backend/Wman.WebAPI/Controllers/PhotoController.cs
  wman-backend/Wman.WebAPI/Controllers/UserController.cs
  wman-backend/Wman.WebAPI/Helpers/ApiExceptionFilter.cs
  wman-backend/Wman.WebAPI/Migrations/20211104163025_pictureFix.cs
  wman-backend/Wman.WebAPI/Migrations/20211104194519_plsfix.Designer.cs
  wman-backend/Wman.WebAPI/Migrations/20211107090411_rolefix.Designer.cs
  wman-backend/Wman.WebAPI/Migrations/20211107090411_rolefix.cs
  wman-backend/Wman.WebAPI/Migrations/20211107104329_rolesAdded.Designer.cs
  wman-backend/Wman.WebAPI/Migrations/20211107104329_rolesAdded.cs
  wman-backend/Wman.WebAPI/Migrations/20211113000726_initdb2.Designer.cs
  wman-backend/Wman.WebAPI/Migrations/20211113000726_initdb2.cs
  wman-backend/Wman.WebAPI/Migrations/wmanDbModelSnapshot.cs
  wman-backend/Wman.WebAPI/Startup.cs
  wman-backend/Wman.WebAPI/Wman.WebAPI.xml
Labels: EPIC 1 - manager UI, Backend, Refactor

#54 Testing/16 calculate workers workload & 19 create user group roles
  wman-backend/Wman.Test/Builders/LogicBuilders/AuthLogicBuilder.cs
  wman-backend/Wman.Test/Builders/LogicBuilders/CalendarEventLogicBuilder.cs
  wman-backend/Wman.Test/Builders/LogicBuilders/UserLogicBuilder.cs
  wman-backend/Wman.Test/Tests/AuthLogicTests.cs
  wman-backend/Wman.Test/Tests/EventLogicTests.cs
  wman-backend/Wman.Test/Tests/UserLogicTests.cs
Labels: EPIC 1 - manager UI, Backend

#51 50 Update workevents
  wman-backend/Wman.Logic/Classes/AllInWorkEventLogic.cs
  wman-backend/Wman.Logic/Classes/AuthLogic.cs
  wman-backend/Wman.Logic/Classes/EventLogic.cs
  wman-backend/Wman.Logic/DTO_Models/UpdateEventDTO.cs
  wman-backend/Wman.Logic/Interfaces/IAllInWorkEventLogic.cs
  wman-backend/Wman.Logic/Interfaces/IEventLogic.cs
  wman-backend/Wman.Repository/Classes/AddressRepo.cs
  wman-backend/Wman.Repository/Classes/WorkEventRepo.cs
  wman-backend/Wman.Repository/Interfaces/ILabelRepo.cs
  wman-backend/Wman.Repository/Interfaces/IPicturesRepo.cs
  wman-backend/Wman.Repository/Interfaces/IRepository.cs
  wman-backend/Wman.WebAPI/Controllers/EventController.cs
  wman-backend/Wman.WebAPI/Controllers/WorkerController.cs
Labels: Backend, Refactor

#55 Feature/10 print events daily view
  wman-frontend/package-lock.json
  wman-frontend/package.json
  wman-frontend/src/App.js
  wman-frontend/src/components/DemoPage/temp.component.jsx
  wman-frontend/src/components/Print-functionality/Document-to-print/document-to-print.component.jsx
  wman-frontend/src/components/Print-functionality/Document-to-print/document-to-print.stlyes.css
  wman-frontend/src/components/Print-functionality/Print-button/print-button.component.jsx
  wman-frontend/src/components/Print-functionality/Print-events/print-events.component.jsx
  wman-frontend/src/components/Print-functionality/Print-events/print-events.styles.css
  wman-frontend/src/components/Worker-load/Progress-card/progress-card.styles.css
Labels: enhancement, EPIC 1 - manager UI, Frontend

#49 Feature/18 display event details and modify them
  wman-frontend/package-lock.json
  wman-frontend/src/App.js
  wman-frontend/src/components/eventDetails/eventDetails.css
  wman-frontend/src/components/eventDetails/eventDetails.jsx
  wman-frontend/src/index.js
Labels: EPIC 1 - manager UI, Frontend
