Repository bprof-projm/wman, pull requests merged in 2021-12, with the labels that each got.

#56 Feature/23 display a specific event for a worker
  wman-backend/Wman.Logic/Classes/AuthLogic.cs
  wman-backend/Wman.Logic/Classes/UserLogic.cs
  wman-backend/Wman.Logic/Helpers/DBSeed.cs
  wman-backend/Wman.Logic/Helpers/WmanError.cs
  wman-backend/Wman.Logic/Interfaces/IUserLogic.cs
  wman-backend/Wman.WebAPI/Controllers/AuthController.cs
  wman-backend/Wman.WebAPI/Controllers/EventController.cs
  wman-backend/Wman.WebAPI/Controllers/WorkerController.cs
  wman-backend/Wman.WebAPI/Helpers/ApiExceptionFilter.cs
  wman-backend/Wman.WebAPI/Wman.WebAPI.xml
Labels: enhancement, EPIC 2 - worker UI, Backend

#57 20 Load events to calendar for a specific worker
  wman-backend/Wman.Logic/Classes/AuthLogic.cs
  wman-backend/Wman.Logic/Classes/CalendarEventLogic.cs
  wman-backend/Wman.Logic/DTO_Models/RegisterDTO.cs
  wman-backend/Wman.Logic/DTO_Models/WorkerDTO.cs
  wman-backend/Wman.Logic/Helpers/DBSeed.cs
  wman-backend/Wman.Logic/Interfaces/ICalendarEventLogic.cs
  wman-backend/Wman.WebAPI/Controllers/CalendarEventController.cs
Labels: EPIC 2 - worker UI, Backend, Refactor

#58 Testing/40 endpoint to display event details
  wman-backend/Wman.Logic/Classes/CalendarEventLogic.cs
  wman-backend/Wman.Test/Builders/ConfigurationBuilder.cs
  wman-backend/Wman.Test/Builders/FormFileBuilder.cs
  wman-backend/Wman.Test/Builders/LogicBuilders/AuthLogicBuilder.cs
  wman-backend/Wman.Test/Builders/LogicBuilders/CalendarEventLogicBuilder.cs
  wman-backend/Wman.Test/Builders/LogicBuilders/EventLogicBuilder.cs
  wman-backend/Wman.Test/Builders/LogicBuilders/PhotoLogicBuilder.cs
  wman-backend/Wman.Test/Tests/AuthLogicTests.cs
  wman-backend/Wman.Test/Tests/CalendarEventLogicTests.cs
  wman-backend/Wman.Test/Tests/EventLogicTests.cs
  wman-backend/Wman.Test/Tests/LabelLogicTests.cs
  wman-backend/Wman.Test/Tests/PhotoLogicTests.cs
  wman-backend/Wman.Test/Wman.Test.csproj
Labels: EPIC 1 - manager UI, Backend

#64 Testing/50 update workevents & much more
  wman-backend/Wman.Test/Builders/LogicBuilders/CalendarEventLogicBuilder.cs
  wman-backend/Wman.Test/Builders/LogicBuilders/EventLogicBuilder.cs
  wman-backend/Wman.Test/Builders/LogicBuilders/UserLogicBuilder.cs
  wman-backend/Wman.Test/Builders/UserManagerBuilder.cs
  wman-backend/Wman.Test/Tests/AllInWorkEventTests.cs
  wman-backend/Wman.Test/Tests/CalendarEventLogicTests.cs
  wman-backend/Wman.Test/Tests/UserLogicTests.cs
Labels: EPIC 1 - manager UI, Backend

#60 Feature/26-display-one-workers-workload
  wman-backend/Wman.WebAPI/Controllers/WorkerController.cs
  wman-backend/Wman.WebAPI/Wman.WebAPI.xml
Labels: enhancement, EPIC 3 - admin UI, Backend

#66 Mock/62 add seeded data
  wman-backend/Wman.Logic/Classes/UserLogic.cs
  wman-backend/Wman.Logic/Helpers/DBSeed.cs
  wman-backend/Wman.Logic/Interfaces/IUserLogic.cs
  wman-backend/Wman.WebAPI/Controllers/UserController.cs
  wman-backend/Wman.WebAPI/Controllers/WorkerController.cs
  wman-backend/Wman.WebAPI/Wman.WebAPI.xml
Labels: wontfix, EPIC 4 - mobil UI, Backend, Refactor
