Repository bprof-projm/wman, pull requests merged in 2022-01, with the labels that each got.

#65 Labels tab done
  wman-frontend/package-lock.json
  wman-frontend/package.json
  wman-frontend/src/components/DemoPage/temp.component.jsx
  wman-frontend/src/components/Labels/ColorPickerButton/ColorPickerButton.css
  wman-frontend/src/components/Labels/ColorPickerButton/ColorPickerButton.jsx
  wman-frontend/src/components/Labels/LabelCard/labelCard.css
  wman-frontend/src/components/Labels/LabelCard/labelCard.jsx
  wman-frontend/src/components/Labels/LabelList/labelList.css
  wman-frontend/src/components/Labels/LabelList/labelList.jsx
  wman-frontend/src/components/Labels/LabelMenu/labelMenu.css
  wman-frontend/src/components/Labels/LabelMenu/labelMenu.jsx
  wman-frontend/src/components/eventDetails/eventDetails.css
  wman-frontend/src/components/eventDetails/eventDetails.jsx
Labels: bug, EPIC 1 - manager UI, Frontend

#67 notification with signalR and email
  wman-backend/Wman.Logic/Classes/EventLogic.cs
  wman-backend/Wman.Logic/Services/EmailService.cs
  wman-backend/Wman.Logic/Services/IEmailService.cs
  wman-backend/Wman.Logic/Services/NotifyHub.cs
  wman-backend/Wman.Logic/Services/SmtpSettings.cs
  wman-backend/Wman.Logic/Wman.Logic.csproj
  wman-backend/Wman.WebAPI/Assets/emailhtml.html
  wman-backend/Wman.WebAPI/Startup.cs
  wman-backend/Wman.WebAPI/Wman.WebAPI.csproj
Labels: enhancement, EPIC 1 - manager UI, Backend

#63 Feature/30 create statistic for the workers
  wman-backend/Wman.Logic/Classes/UserLogic.cs
  wman-backend/Wman.Logic/DTO_Models/MonthlyStatsDTO.cs
  wman-backend/Wman.Logic/Interfaces/IUserLogic.cs
  wman-backend/Wman.WebAPI/Controllers/UserController.cs
  wman-backend/Wman.WebAPI/Startup.cs
  wman-backend/Wman.WebAPI/Wman.WebAPI.xml
Labels: enhancement, EPIC 3 - admin UI, Backend

#70 Testing/41 provide feedback with status codes
  wman-backend/Wman.Test/Builders/FormFileBuilder.cs
  wman-backend/Wman.Test/Builders/LogicBuilders/AdminLogicBuilder.cs
  wman-backend/Wman.Test/Builders/LogicBuilders/EventLogicBuilder.cs
  wman-backend/Wman.Test/Builders/UserManagerBuilder.cs
  wman-backend/Wman.Test/Tests/AdminLogicTests.cs
  wman-backend/Wman.Test/Tests/AuthLogicTests.cs
  wman-backend/Wman.Test/Tests/CalendarEventLogicTests.cs
  wman-backend/Wman.Test/Tests/EventLogicTests.cs
  wman-backend/Wman.Test/Tests/PhotoLogicTests.cs
  wman-backend/Wman.Test/Tests/UserLogicTests.cs
Labels: wontfix, Backend

#71 Feature/21 create the main calendar view for a worker
  wman-frontend/package-lock.json
  wman-frontend/package.json
  wman-frontend/src/App.js
  wman-frontend/src/components/Login/login.component.jsx
  wman-frontend/src/components/Print-functionality/Print-events/print-events.component.jsx
  wman-frontend/src/components/Worker-page/one-day-event/one-day-events-styles.css
  wman-frontend/src/components/Worker-page/one-day-event/one-day-events.component.jsx
  wman-frontend/src/components/Worker-page/one-label.component.jsx/one-label.component.jsx
  wman-frontend/src/components/Worker-page/one-label.component.jsx/one-label.styles.css
  wman-frontend/src/components/Worker-page/worker-page-this-week-events/worker-page-this-week-events.styles.css
  wman-frontend/src/components/Worker-page/worker-page-this-week-events/worker-page-this-week.component.jsx
  wman-frontend/src/components/Worker-page/worker-page-today-events/worker-page-today.component.jsx
  wman-frontend/src/components/Worker-page/worker-page-today-events/worker-page-today.styles.css
  wman-frontend/src/components/Worker-page/worker-page.component.jsx
  wman-frontend/src/components/Worker-page/worker-page.styles.css
Labels: enhancement, EPIC 2 - worker UI, Frontend

#72 Feature/27 display one workers workload
  wman-frontend/package-lock.json
  wman-frontend/src/avatar-logo/wman_profpic_placeholder.png
  wman-frontend/src/components/Logout/logout.component.jsx
  wman-frontend/src/components/Logout/logout.styles.css
  wman-frontend/src/components/Worker-load/Progress-card/progress-card.component.jsx
  wman-frontend/src/components/Worker-load/Progress-card/progress-card.styles.css
  wman-frontend/src/components/Worker-page/worker-page-today-events/worker-page-today.component.jsx
  wman-frontend/src/components/Worker-page/worker-page-today-events/worker-page-today.styles.css
  wman-frontend/src/components/Worker-page/worker-page.component.jsx
  wman-frontend/src/components/Worker-page/worker-page.styles.css
Labels: enhancement, EPIC 2 - worker UI, Frontend

#73 assign workers done and assign labels updated
  wman-frontend/src/components/Labels/LabelCard/labelCard.css
  wman-frontend/src/components/Labels/LabelMenu/labelMenu.jsx
  wman-frontend/src/components/eventDetails/eventDetails.css
  wman-frontend/src/components/eventDetails/eventDetails.jsx
Labels: wontfix, EPIC 3 - admin UI

#75 Testing/30 create statistic for the worker && Provide proof of work #61
  wman-backend/Wman.Test/Builders/LogicBuilders/AdminLogicBuilder.cs
  wman-backend/Wman.Test/Builders/LogicBuilders/PhotoLogicBuilder.cs
  wman-backend/Wman.Test/Tests/PhotoLogicTests.cs
Labels: EPIC 2 - worker UI, EPIC 3 - admin UI, Backend

#78 5 Create calendar main view
  wman-frontend/package-lock.json
  wman-frontend/package.json
  wman-frontend/src/App.js
  wman-frontend/src/components/DemoPage/temp.component.jsx
  wman-frontend/src/components/DemoPage/temp.styles.css
  wman-frontend/src/components/Labels/ColorPickerButton/ColorPickerButton.css
  wman-frontend/src/components/Labels/Label.jsx
  wman-frontend/src/components/Labels/LabelCard/labelCard.jsx
  wman-frontend/src/components/Labels/LabelMenu/labelMenu.css
  wman-frontend/src/components/Labels/LabelMenu/labelMenu.jsx
  wman-frontend/src/components/Login/login.component.jsx
  wman-frontend/src/components/Logout/logout.component.jsx
  wman-frontend/src/components/Manager/calendar-list.component.jsx
  wman-frontend/src/components/Manager/calendar-list.styles.css
  wman-frontend/src/components/Manager/column.component.jsx
  wman-frontend/src/components/Manager/event.component.jsx
  wman-frontend/src/components/Manager/event.styles.css
  wman-frontend/src/components/Print-functionality/Print-button/print-button.component.jsx
  wman-frontend/src/components/Worker-load/Progress-menu/progress-menu.component.jsx
  wman-frontend/src/components/eventDetails/EventDetailsForm.jsx
  wman-frontend/src/components/eventDetails/EventDetailsModal.jsx
  wman-frontend/src/components/eventDetails/eventDetails.jsx
  wman-frontend/src/index.css
Labels: Frontend
